{
  "semi": true,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
